@font-face { font-family: 'Averta-semibold'; 
    src: url('../fonts/Averta-Semibold.woff2') format('woff2'),
        url('../fonts/Averta-Semibold.woff') format('woff'); font-weight: 600; font-style: normal; font-display: swap; }

@font-face { font-family: 'Averta-bold'; 
    src: url('../fonts/Averta-Bold.woff2') format('woff2'),
        url('../fonts/Averta-Bold.woff') format('woff'); font-weight: bold; font-style: normal; font-display: swap; }

@font-face { font-family: 'Averta-regular'; 
    src: url('../fonts/Averta-Regular.woff2') format('woff2'),
        url('../fonts/Averta-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }